.row
	.col-xs-12
		%h1
			All Properties

.row
	.col-xs-12
		%hr

.row
	.col-xs-12
		%p
			= link_to 'Add Property', new_property_path, :class => 'btn btn-primary pull-right'

%br

.row
	.col-xs-12
		.table-responsive
			%table.table.table-striped.table-bordered.table-hover
				%thead
					%tr
						%th	ID
						%th Address
						%th Purchase Price
						%th Monthly Rental Income
						%th Gross Rent Multiplier (GRM)
						%th Monthly Rent / Purchase Price (1% Rule)
						%th NOI
						%th Cap Rate
						%th Pre-tax Income
						%th NPV
						%th IRR
						%th ROI
						%th ROE
						%th Cash on Cash
						%th Actions
				%tbody
					- @properties.each do |property|
						%tr
							%td 
								= property.id
							%td
								= property.full_address
							%td
								= '$' + number_with_delimiter(property.sale_price.to_i, :delimiter => ',')
							%td 
								= '$' + number_with_delimiter(property.monthly_rental_income.to_i, :delimiter => ',')
							%td
								= number_with_precision(property.gross_rent_multiplier, :precision => 2)
							%td
								= number_with_precision((property.monthly_rental_income / property.sale_price) * 100, :precision => 2) + '%'
							%td
								= '$' + number_with_delimiter(property.noi(Property::NUM_YEARS_TO_HOLD), :delimiter => ',')
							%td
								= number_with_precision(property.cap_rate(Property::NUM_YEARS_TO_HOLD) * 100, :precision => 2) + '%'
							%td 
								= number_with_precision(property.pre_tax_income(Property::NUM_YEARS_TO_HOLD), :precision => 2)
							%td
							%td
							%td
							%td
							%td
							%td
								= link_to 'Edit', (edit_property_path property), :class => 'btn btn-success btn-xs'
								= link_to 'Delete', (property_path property), :class => 'btn btn-danger btn-xs'


